.project-tab {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        padding: 18px;
    }

    &__tabs {
        display: flex;
        padding: 0px 4px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &.active {
            p {
                color: #6b5ed4;
                font-weight: 700;
            }
        }

        p {
            font-size: 16px;
            line-height: normal !important;
            font-weight: 400;
            color: rgba(37, 40, 44, 0.5);
            text-transform: capitalize;
            white-space: nowrap;
        }
    }

    &__slider-span {
        position: absolute;
        border-radius: 8px;
        bottom: -2.3px;
        display: block;
        height: 3px;
        background-color: #6b5ed4;
        z-index: 20;
        transition: 0.7s transform ease;
    }

    &__slider {
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: rgba(56, 57, 64, 0.4);
        z-index: 10;
        left: 0;
        right: 0;
    }

    .inner-right {
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        width: fit-content;
    }
}